body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: hsl(0, 0%, 89%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  border: 5px solid hsl(209, 56%, 56%);
  padding: 30px 30px;
  border-radius: 30px;
  background-color: hsla(0, 0%, 6%, 0.959);


}

.div-btn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.img-emoji {
  width: 70px;
}

.btn-emoji {
  border: 2px solid orange;
  background: transparent;
  width: 110px;
  height: 110px;
  border-radius: 55px;
  margin-right: 10px;
  cursor: pointer;
}


h3 , h4{
  background-color: green; 
  padding: 4px 0;
  border-radius: 5px;
  text-align: center;
  margin-top: 40px;
}
h4{
  background-color: hsla(209, 56%, 56%, 0.76);
  font-size: 18px;
}

.move{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  
}

.div-btn-reset{
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset-score, .auto-play{
  border: 2px solid tomato;
  width: 80px;
  height: 80px;
  background: transparent;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 40px;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 10px;
}

.lose-color{
  background-color: red;
}
.tie-color{
  background-color: lightgray;
  color: black;
}
.win-color{
  background-color: green;
}